*{
    text-align: right;
}
.side-nav{
    padding: 2em;
    height: 100vh;
    width: 30%;
    position: fixed;
    right: 0;
    background-color: #fff;
    opacity: 0; 
   
    
}

.menu-items-open{
    animation: slide-in .5s forwards;
}
.menu-items-close{ 
    animation: slide-out .5s forwards; 
  
}

@keyframes slide-out{
    0%{
        opacity: 1;
        pointer-events: all;
    }
    100%{
        opacity: 0;
        pointer-events: none;
    }
}

@keyframes slide-in{
    100%{
        opacity: 1;
        pointer-events: all;
    }
}

.links a{
    border-radius: 0.3em;
    white-space: nowrap;
    margin: 0.5em;
    padding: .5em;
    display: block;
    text-align: left;
    width: auto;
    transition: all 0.7s;
}

.links a:hover{
    background: rgba(0,0,0,0.08);
    backdrop-filter: blur(10px);
}

button{
    text-align: right;
    cursor: pointer;
    border-style: none;
    background-color: #fff;
    transition: background 0.7s;
    padding: 0.5em;
    border-radius: 0.25em;
}


button:hover{
    background: rgba(0,0,0,0.06);
    backdrop-filter: blur(10px);
}

