.backgrounds ul li{
    list-style: none;
}

.backgrounds ul li img{
    width: 100%;
    object-fit: cover;
    height: 100vh;

}
.backgrounds ul{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    
}
